{% extends "layout.html" %}

{% block body %}
<h3>Analiz Sonuçları</h3>
{% if user_replies %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">kullanıcı adı</th>
        <th scope="col">Tweet</th>
        <th scope="col">Zorbalık Durumu</th>
      </tr>
    </thead>
    <tbody>
      {% for user_replies in user_replies %}
      <tr>
        <th scope="row">{{user_replies.username}}</th>
        <td>{{user_replies.tweet}}</td>
        <td>{% if user_replies.prediction == 0 %} Var {% else %} Yok {% endif %}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>  
{% else %}

<div class = "alert alert-danger">Bu blokta henüz makale bulunmuyor...</div>
{% endif %}

{% endblock body %}